.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  box-shadow: var(--box-shadow-light);
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;

  &__img {
    width: 6rem;
    height: auto;
  }

  &__p {
    font-size: 2.4rem;
    color: var(--color-primary-darker);
    font-weight: var(--fw-bold);
  }
}

.nav {
  font-size: 1.8rem;

  &__list {
    display: flex;
    gap: 2.4rem;
    list-style: none;
  }

  a:link,
  a:visited {
    color: var(--color-grey-dark-1);
    font-weight: var(--fw-semi);
    text-decoration: none;
  }

  &__login,
  &__register {
    border-radius: 1rem;
    font-weight: 500;
    padding: 1rem 2.4rem;
  }

  &__login {
    color: var(--color-primary) !important;
    background-color: var(--color-secondary);
  }

  &__register {
    background-color: var(--color-grey-light-2);
  }
}
