<header class="header">
  <div class="logo">
    <a href="#">
      <img
        src="../../../assets/paw_logo.jpg"
        alt="Pawprints Logo"
        class="logo__img"
      />
    </a>
    <p class="logo__p">Safari Tales</p>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Safaris</a></li>
      <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link nav__login">Login</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link nav__register">Sign up</a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link">Logout</a></li>
    </ul>
  </nav>
</header>
