<header class="header">
  <div class="logo">
    <a href="#">
      <img
        src="../../../assets/paw-print.svg"
        alt="Safari Tales Logo - Paw"
        class="logo__img"
      />
    </a>
    <p class="logo__p">Safari Tales</p>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link link">Home</a></li>
      <li class="nav__item"><a href="#" class="nav__link link">Safaris</a></li>
      <li class="nav__item"><a href="#" class="nav__link link">About Us</a></li>
      <li class="nav__item"><a href="#" class="nav__link link">Contacts</a></li>
      <li class="nav__item"><a href="#" class="nav__link link">Blog</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link nav__login link">Login</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link nav__register link">Sign up</a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link link">Logout</a></li>
    </ul>
  </nav>
</header>
