<header class="header">
  <div class="logo" routerLink="/">
    <a>
      <img
        src="../../../assets/paw-print.svg"
        alt="Safari Tales Logo - Paw"
        class="logo__img"
      />
    </a>
    <p class="logo__p">Safari Tales</p>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a routerLink="/" class="nav__link link">Home</a>
      </li>
      <li class="nav__item">
        <a routerLink="/catalogSafari" class="nav__link link">Safaris</a>
      </li>
      <li class="nav__item">
        <a routerLink="/About-us" class="nav__link link">About Us</a>
      </li>
      <li class="nav__item">
        <a routerLink="/Contacts" class="nav__link link">Contacts</a>
      </li>
      <li class="nav__item">
        <a routerLink="/Blog" class="nav__link link">Blog</a>
      </li>
      @if(user?.admin == true){
      <li class="nav__item">
        <a class="nav__link link" routerLink="/createSafari">Create Safari</a>
      </li>
      } @if (!user) {
      <li class="nav__item">
        <a class="nav__link nav__login link" routerLink="/login">Login</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__register link" routerLink="/register"
          >Sign up</a
        >
      </li>
      } @else {
      <li class="nav__item">
        <a href="#" class="nav__link link" (click)="onLogout($event)">Logout</a>
      </li>
      }
    </ul>
  </nav>
</header>
