.login {
  position: relative;
  min-height: calc(100vh - 22vh - 4rem);
  margin-bottom: 4rem;

  &__background {
    position: absolute;
    height: 100%;
    width: 120%;
    background: url("../../../assets/user/login-background.jpg") no-repeat
      center/ cover;
    background-position: -30rem 40%;
    filter: grayscale(100%);
    opacity: 0.6;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    z-index: 2;
  }
}

.form {
  position: absolute;
  text-align: center;
  top: 10rem;
  right: 30rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow-medium);

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all 0.3s;
    width: 35rem;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.15);
      border-bottom: 3px solid var(--color-primary-darker);
    }

    &:focus:invalid {
      border-bottom: 3px solid var(--color-primary-darker);
    }

    &::placeholder {
      color: var(--color-grey-dark-1);
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: var(--fw-bold);
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__btn {
    display: inline-block;
    font-size: 2rem;
    padding: 1.2rem 2.4rem;
    color: var(--color-primary);
    text-decoration: none;
    border: 1px solid var(--color-grey-light-1);
    background-color: var(--color-secondary-darker);
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    & i {
      margin-left: 5px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      & i {
        transform: translateX(5px);
      }
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &__no-account {
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    gap: 1rem;

    & a {
      font-weight: var(--fw-bold);
    }
  }
}
