<section class="blogs">
  <h2 class="heading-secondary">Latest Blog Posts</h2>
  <div class="blogs__container">
    @for (article of articles; track $index) {
    <a class="blogs__single" href="{{ article.url }}" target="_blank">
      <img src="{{ article.urlToImage }}" alt="{{ article.urlToImage }}" />
      <p class="blogs__p">{{ article.title }}</p>
    </a>
    }
  </div>
  <div>
    <a routerLink="/blog" class="blogs__btn"
      >All Blog Posts <i class="fa-solid fa-angles-right"></i
    ></a>
  </div>
</section>
