<section class="blogs">
  <h2 class="heading-secondary">Latest Blog Posts</h2>
  <div class="blogs__container">
    <a class="blogs__single" href="#">
      <p class="blogs__p">Top 5 Best Tanzania Itinerary Ideas</p>
    </a>
    <a class="blogs__single" href="#">
      <p class="blogs__p">Top 5 Best Tanzania Itinerary Ideas</p>
    </a>
    <a class="blogs__single" href="#">
      <p class="blogs__p">Top 5 Best Tanzania Itinerary Ideas</p>
    </a>
  </div>
  <div>
    <a href="#" class="blogs__btn"
      >All Blog Posts <i class="fa-solid fa-angles-right"></i
    ></a>
  </div>
</section>
