.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0 4rem;

  &__list {
    display: flex;
    margin: 0 auto;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    margin: 0 5px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    font-size: 1.8rem;
    text-decoration: none;

    border-radius: 50%;
    border: 2px solid var(--color-grey-dark-3);
    color: var(--color-secondary-darker);
    background-color: transparent;

    transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: var(--color-grey-light-1);
      background-image: linear-gradient(135deg, #ff7f50, #343a40);
    }

    &--active {
      position: relative;
      cursor: none;
      pointer-events: none;
      background-image: linear-gradient(135deg, #ff7f50, #343a40);
      border-color: var(--color-grey-dark-3);
      color: var(--color-grey-light-2);
    }
  }
}
