.pagination {
  display: flex;
  list-style-type: none;
  margin: 2rem 0 4rem;

  &__list {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    margin: 0 auto;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    margin: 0 5px;
  }

  &__link {
    text-decoration: none;
  }
}

.pagination li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: white;
  color: #3b5d50;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 16px;
}

.pagination li a:hover,
.pagination .navigation-link a {
  background-color: #3b5d50;
  color: white;
}

.pagination .disabled a {
  color: #9db4a0;
  cursor: not-allowed;
}

.pagination .active a {
  background-color: white;
  color: #3b5d50;
  font-weight: bold;
  border: 2px solid #3b5d50;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
