@if (totalPages) {
<section class="pagination">
  <ul class="pagination__list">
    @if (currentPage > 1) {
    <li class="pagination__item">
      <a class="pagination__link" (click)="navigate(currentPage - 1)"
        ><i class="fa-solid fa-angles-left"></i
      ></a>
    </li>
    } @for (page of [].constructor(totalPages); track $index) {
    <li class="pagination__item">
      <a
        (click)="navigate($index + 1)"
        class="pagination__link"
        [class.pagination__link--active]="currentPage === $index + 1"
        >{{ $index + 1 }}</a
      >
    </li>
    } @if (currentPage < totalPages) {
    <li class="pagination__item">
      <a class="pagination__link" (click)="navigate(currentPage + 1)"
        ><i class="fa-solid fa-angles-right"></i
      ></a>
    </li>
    }
  </ul>
</section>
}
