<section class="featured">
  <div class="featured__inner">
    <div class="featured__p">As Featured in</div>
    <div class="featured__gallery">
      <img src="../../../../assets/featured/featured-times.png" alt="logo 1" />
      <img src="../../../../assets/featured/featured-lat.png" alt="logo 1" />
      <img src="../../../../assets/featured/featured-tam.png" alt="logo 1" />
      <img
        src="../../../../assets/featured/featured-times-sa.png"
        alt="logo 1"
      />
      <img src="../../../../assets/featured/featured-cnn.png" alt="logo 1" />
      <img
        src="../../../../assets/featured/featured-australian.png"
        alt="logo 1"
      />
      <img
        src="../../../../assets/featured/featured-chicago.png"
        alt="logo 1"
      />
    </div>
  </div>
</section>
