<section class="display-safari">
  <header class="header">
    <div class="header__img-container">
      <img
        src="../../../assets/safari/Nyerere_National_Park_011.jpg"
        alt="Nyerere_National_Park_011"
      />
    </div>
    <h2 class="header__h2">5-Day Serengeti & Ngorongoro Mid Range Safari</h2>
  </header>
  <div class="border-container">
    <div class="day">
      <div class="day__info-container">
        <div class="day__header-container">
          <i class="fa-solid fa-angles-right day__icon"></i>
          <h3 class="day__header">Day 1 - Arrival</h3>
        </div>
        <p class="day__p">You'll be collected from the airport.</p>
        <p class="day__p">
          Accommodation before the tour starts can be arranged for an extra
          cost.
        </p>
        <p class="day__p">
          We will pick you up from the airport & transfer you to Tulia spa &
          boutique. A city sightseeing tour comes as part of the excursion for
          day 1. The city excursion will involve visiting the local markets,
          Masai market, cultural heritage & Arusha city museum.
        </p>
        <div class="day__div">
          <span>Main Destination:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              Arusha (City)
            </p>
          </div>
        </div>
        <div class="day__div">
          <span>Accommodation:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              <a href="https://www.tuliahotelandspa.com/" class="link">
                Tulia Boutique Hotel & Spa</a
              >
            </p>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i> Mid-range hotel located
              in or near Arusha
            </p>
          </div>
        </div>
        <div class="day__div">
          <span>Meals & Drinks:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i> Dinner (Breakfast &
              lunch not included)
            </p>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i> Drinks not included
            </p>
          </div>
        </div>
      </div>
      <div class="day__img-container">
        <img
          src="../../../assets/safari/Arrival.jpeg"
          alt="Airport picture"
          class="day__img"
        />
      </div>
    </div>
    <!-- <div class="day">
      <div class="day__info-container">
        <div class="day__header-container">
          <i class="fa-solid fa-angles-right day__icon"></i>
          <h3 class="day__header">Day 1 - Arrival</h3>
        </div>
        <p class="day__p">You'll be collected from the airport.</p>
        <p class="day__p">
          Accommodation before the tour starts can be arranged for an extra
          cost.
        </p>
        <p class="day__p">
          We will pick you up from the airport & transfer you to Tulia spa &
          boutique. A city sightseeing tour comes as part of the excursion for
          day 1. The city excursion will involve visiting the local markets,
          Masai market, cultural heritage & Arusha city museum.
        </p>
        <div class="day__div">
          <span>Main Destination:</span>
          <div><i class="fa-solid fa-chevron-right"></i> Arusha (City)</div>
        </div>
        <div class="day__div">
          <span>Accommodation:</span>
          <div>
            <a href="https://www.tuliahotelandspa.com/"
              >Tulia Boutique Hotel & Spa</a
            >
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>Mid-range hotel located
              in or near Arusha
            </p>
          </div>
        </div>
        <div class="day__div">
          <span>Meals & Drinks:</span>
          <div>
            <i class="fa-solid fa-chevron-right"></i> Dinner (Breakfast & lunch
            not included)
          </div>
          <div>
            <i class="fa-solid fa-chevron-right"></i> Drinks not included
          </div>
        </div>
      </div>
      <div class="day__img-container">
        <img
          src="../../../assets/safari/Arrival.jpeg"
          alt="Airport picture"
          class="day__img"
        />
      </div>
    </div> -->
  </div>
</section>
