<section class="display-safari">
  <header class="header">
    <div class="header__img-container">
      <img
        src="{{ currentSafari?.safariImage }}"
        alt="Nyerere_National_Park_011"
      />
    </div>
    <h2 class="header__h2">{{ currentSafari?.safariTitle }}</h2>
  </header>
  <div class="border-container">
    @for (day of currentSafari?.days; track $index) {
    <div class="day">
      <div class="day__info-container">
        <div class="day__header-container">
          <i class="fa-solid fa-angles-right day__icon"></i>
          <h3 class="day__header">Day {{ $index + 1 }} - {{ day.dayTitle }}</h3>
        </div>
        @for (description of day.descriptions; track $index) {
        <p class="day__p">{{ day.descriptions[$index] }}</p>
        }
        <div class="day__div">
          <span>Main Destination:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              {{ day.mainDestination }}
            </p>
          </div>
        </div>
        <div class="day__div">
          <span>Accommodation:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              @if (day.hotelLink.length != 1) {
              <a href="{{ day.hotelLink }}" class="link">
                {{ day.hotelName }}</a
              >
              } @else {
              <ng-container> No accommodation (End of tour) </ng-container>
              }
            </p>
            @if (day.hotelLink.length != 1) {
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              <ng-container>
                {{ day.hotelType }} located in or near {{ day.hotelLocation }}
              </ng-container>
            </p>
            }
          </div>
        </div>
        <div class="day__div">
          <span>Meals & Drinks:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              <ng-container
                *ngFor="let meal of day.includedMeals; let last = last"
              >
                {{ day.includedMeals }}<span *ngIf="!last">, </span>
              </ng-container>
            </p>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              <ng-container
                *ngFor="let meal of day.includedDrinks; let last = last"
              >
                {{ day.includedDrinks }}<span *ngIf="!last">, </span>
              </ng-container>
            </p>
          </div>
        </div>
      </div>
      <div class="day__img-container">
        <img
          src="{{ day.dayImage }}"
          alt="{{ day.dayTitle }}"
          class="day__img"
        />
      </div>
    </div>
    }
  </div>
  <div class="prices">
    <div class="prices__important">
      <h3 class="prices__header">Important to Know</h3>
      <div>
        <p class="prices__p">
          <i class="fa-solid fa-chevron-right"></i>This tour
          <span>is not available to solo travelers</span>.
        </p>
        <p class="prices__p">
          <i class="fa-solid fa-chevron-right"></i>Rates are per person and
          exclude the international flight from/to your home country.
        </p>
        <p class="prices__p">
          <i class="fa-solid fa-chevron-right"></i>This tour accepts children
          who are <span>4 years and older</span>. Children
          <span>under 16</span> receive a discount.
        </p>
      </div>
    </div>
    <div class="prices__rates">
      <h3 class="prices__header">Rates Per Person</h3>
      <div class="prices__table">
        <div class="prices__column">
          <div class="prices__cell prices__cell--first">
            <span class="prices__dark">Start Dates</span>
            <span class="prices__space">no time</span>
          </div>
          <div class="prices__cell prices__cell--first">
            <span>
              {{ currentSafari?.period?.from }} -
              {{ currentSafari?.period?.to }}
            </span>
          </div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">Solo</span>
            <span class="prices__light"> 1 room</span>
          </div>
          <div class="prices__cell">n/a*</div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">2 people</span>
            <span class="prices__light"> 1 room</span>
          </div>
          <div class="prices__cell">
            {{ currentSafari?.rates?.twoPeopleOneRoom }}
          </div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">3 people</span>
            <span class="prices__light"> 2 rooms</span>
          </div>
          <div class="prices__cell">
            {{ currentSafari?.rates?.threePeopleTwoRooms }}
          </div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">4 people</span>
            <span class="prices__light"> 2 rooms</span>
          </div>
          <div class="prices__cell">
            {{ currentSafari?.rates?.fourPeopleTwoRooms }}
          </div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">5 people</span>
            <span class="prices__light"> 3 rooms</span>
          </div>
          <div class="prices__cell">
            {{ currentSafari?.rates?.fivePeopleThreeRooms }}
          </div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">6 people</span>
            <span class="prices__light"> 3 rooms</span>
          </div>
          <div class="prices__cell">
            {{ currentSafari?.rates?.sixPeopleThreeRooms }}
          </div>
        </div>
        <div class="prices__column">
          <div class="prices__cell prices__cell--seven">
            <span class="prices__dark">7 people</span>
            <span class="prices__space">no time</span>
          </div>
          <div class="prices__cell"><a href="#" class="link">Get Quote</a></div>
        </div>
      </div>
    </div>
    <div class="prices__table--info">
      *n/a = not available. This tour is unavailable for solo travelers.
    </div>
    <div class="quote__btn">
      <a href="" class="btn"
        >Get Free Quote ! <i class="fa-solid fa-angles-right"></i
      ></a>
    </div>
  </div>
</section>
