<section class="display-safari">
  <header class="header">
    <div class="header__img-container">
      <img
        src="../../../assets/safari/Nyerere_National_Park_011.jpg"
        alt="Nyerere_National_Park_011"
      />
    </div>
    <h2 class="header__h2">5-Day Serengeti & Ngorongoro Mid Range Safari</h2>
  </header>
  <div class="border-container">
    <div class="day">
      <div class="day__info-container">
        <div class="day__header-container">
          <i class="fa-solid fa-angles-right day__icon"></i>
          <h3 class="day__header">Day 1 - Arrival</h3>
        </div>
        <p class="day__p">You'll be collected from the airport.</p>
        <p class="day__p">
          Accommodation before the tour starts can be arranged for an extra
          cost.
        </p>
        <p class="day__p">
          We will pick you up from the airport & transfer you to Tulia spa &
          boutique. A city sightseeing tour comes as part of the excursion for
          day 1. The city excursion will involve visiting the local markets,
          Masai market, cultural heritage & Arusha city museum.
        </p>
        <div class="day__div">
          <span>Main Destination:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              Arusha (City)
            </p>
          </div>
        </div>
        <div class="day__div">
          <span>Accommodation:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i>
              <a href="https://www.tuliahotelandspa.com/" class="link">
                Tulia Boutique Hotel & Spa</a
              >
            </p>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i> Mid-range hotel located
              in or near Arusha
            </p>
          </div>
        </div>
        <div class="day__div">
          <span>Meals & Drinks:</span>
          <div>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i> Dinner (Breakfast &
              lunch not included)
            </p>
            <p class="day__p">
              <i class="fa-solid fa-chevron-right"></i> Drinks not included
            </p>
          </div>
        </div>
      </div>
      <div class="day__img-container">
        <img
          src="../../../assets/safari/Arrival.jpeg"
          alt="Airport picture"
          class="day__img"
        />
      </div>
    </div>
  </div>
  <div class="prices">
    <div class="prices__important">
      <h3 class="prices__header">Important to Know</h3>
      <div>
        <p class="prices__p">
          <i class="fa-solid fa-chevron-right"></i>This tour
          <span>is not available to solo travelers</span>.
        </p>
        <p class="prices__p">
          <i class="fa-solid fa-chevron-right"></i>Rates are per person and
          exclude the international flight from/to your home country.
        </p>
        <p class="prices__p">
          <i class="fa-solid fa-chevron-right"></i>This tour accepts children
          who are <span>4 years and older</span>. Children
          <span>under 16</span> receive a discount.
        </p>
      </div>
    </div>
    <div class="prices__rates">
      <h3 class="prices__header">Rates Per Person</h3>
      <div class="prices__table">
        <div class="prices__column">
          <div class="prices__cell prices__cell--first">
            <span class="prices__dark">Start Dates</span>
            <span class="prices__space">no time</span>
          </div>
          <div class="prices__cell prices__cell--first">
            <span> Jan 1, 2024 - Dec 31, 2024 </span>
          </div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">Solo</span>
            <span class="prices__light"> 1 room</span>
          </div>
          <div class="prices__cell">n/a*</div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">2 people</span>
            <span class="prices__light"> 1 room</span>
          </div>
          <div class="prices__cell">$5</div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">3 people</span>
            <span class="prices__light"> 2 rooms</span>
          </div>
          <div class="prices__cell">$5</div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">4 people</span>
            <span class="prices__light"> 2 rooms</span>
          </div>
          <div class="prices__cell">$5</div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">5 people</span>
            <span class="prices__light"> 3 rooms</span>
          </div>
          <div class="prices__cell">$5</div>
        </div>
        <div class="prices__column">
          <div class="prices__cell">
            <span class="prices__dark">6 people</span>
            <span class="prices__light"> 3 rooms</span>
          </div>
          <div class="prices__cell">$5</div>
        </div>
        <div class="prices__column">
          <div class="prices__cell prices__cell--seven">
            <span class="prices__dark">7 people</span>
            <span class="prices__space">no time</span>
          </div>
          <div class="prices__cell"><a href="#" class="link">Get Quote</a></div>
        </div>
      </div>
    </div>
    <div class="prices__table--info">
      *n/a = not available. This tour is unavailable for solo travelers.
    </div>
    <div class="quote__btn">
      <a href="" class="btn"
        >Get Free Quote ! <i class="fa-solid fa-angles-right"></i
      ></a>
    </div>
  </div>
</section>
