:host {
  display: block;
  width: 100%;
}

.carousel {
  height: 60vh;
  margin-top: 3rem;
  position: relative;

  &__slide {
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: center center / cover no-repeat;
    border-radius: 10px;
    filter: sepia(50%);
    box-shadow: var(--box-shadow-dark);
  }

  &__indicators {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    bottom: 15px;
  }

  &__indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-grey-light-1);
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  &__indicator.active {
    background-color: var(--color-secondary);
  }

  &__indicator:hover {
    transform: translateY(-30%);
  }

  &__nextBtn,
  &__previousBtn {
    position: absolute;
    top: 50%;
    border: 0px;
    background-color: transparent;
    font-size: 4rem;
    color: var(--color-grey-light-1);
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__nextBtn {
    right: 30px;
  }

  &__previousBtn {
    left: 30px;
  }

  &__paragraph {
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-grey-dark-1);
    font-weight: var(--fw-semi);
    background-color: var(--color-grey-light-1);
    border-radius: 10px;
  }
}
