.cta {
  text-align: center;
  padding: 2rem 0;
  margin: 2rem auto;
  background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../../../../assets/cheetah.jpg") no-repeat center / cover;
  background-position: 100% 35%;
  border-radius: 1rem;
  position: relative;
  color: var(--color-grey-light-1);

  &__btn {
    position: absolute;
    bottom: 50%;
    right: 5%;
    transform: translateY(50%);

    &::after {
      background-color: var(--color-secondary-darker);
    }

    &:hover {
      box-shadow: var(--box-shadow);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        border: 2px solid var(--color-primary);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(60%);
      box-shadow: var(--box-shadow);
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1rem;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      transition: all 0.4s;
    }

    &--animated {
      animation: moveInBottom 0.5s ease-out 0.25s;
      animation-fill-mode: backwards;
    }
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
