<section class="catalog-safari">
  <div class="safariCard">
    <header class="header">
      <div class="header__img-container">
        <img
          src="../../../assets/safari/Nyerere_National_Park_011.jpg"
          alt="Nyerere_National_Park_011"
        />
      </div>
      <h2 class="header__h2">5-Day Serengeti & Ngorongoro Mid Range Safari</h2>
    </header>
    <div class="safariInfo">
      <p class="safariInfo__price">$ 1,815 <span>pp (USD)</span></p>
      <p class="safariInfo__budget-type">
        If below 1200pp - budget, 1200-2400 - mid-range, over 2400 - luxury
        Safari
      </p>
      <p class="safariInfo__hotel-type">camp</p>
      <div class="safariInfo__destinations">
        You will visit: Arusha, Arusha, Arusha, Arusha
      </div>
    </div>
  </div>
</section>
