<section class="catalog-safari">
  @for (safari of safariList; track $index) {
  <div class="safariCard" (click)="navigateToDetails(safari._id)">
    <header class="header">
      <div class="header__img-container">
        <img src="{{ safari.safariImage }}" alt="{{ safari.safariTitle }}" />
      </div>
      <h2 class="header__h2">{{ safari.safariTitle }}</h2>
    </header>
    <div class="safariInfo">
      <p class="safariInfo__price">
        $ {{ safari.rates.twoPeopleOneRoom }} <span> pp (USD)</span>
      </p>
      <p class="safariInfo__budget-type">
        Private Tour <i class="fa-solid fa-circle"></i>
        <ng-container>
          {{ getSafariRateCategory(safari.rates.twoPeopleOneRoom) }} Safari
        </ng-container>
        <i class="fa-solid fa-circle"></i> {{ safari.days[0].hotelType }}
      </p>
      <div class="safariInfo__destinations">
        <span
          >You will visit :&nbsp;
          <ng-container *ngFor="let day of safari.days; let last = last">
            {{ day.hotelLocation }} <span *ngIf="!last">, </span>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
  }
</section>
