<footer class="footer">
  <div class="footer__links">
    <ul class="footer__list">
      <li class="foter__item">
        <a href="#" class="footer__link link">About Us</a>
      </li>
      <li class="foter__item">
        <a href="#" class="footer__link link">Contacts</a>
      </li>
      <li class="foter__item">
        <a href="#" class="footer__link link">Blog</a>
      </li>
      <li class="foter__item">
        <a href="#" class="footer__link link">Privacy Policy</a>
      </li>
      <li class="foter__item">
        <a href="#" class="footer__link link">Terms of Service</a>
      </li>
    </ul>
  </div>
  <div class="footer__social">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="#" class="footer__link link"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link link"
          ><i class="fab fa-x-twitter"></i
        ></a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link link"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="footer__copyright">
    <p>© 2024 Safari Tales. All rights reserved.</p>
  </div>
</footer>
