<footer class="footer">
  <div class="footer__social">
    <ul class="footer__list">
      <li class="footer__item">
        <a
          href="https://www.facebook.com"
          class="footer__link link"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="footer__item">
        <a
          href="https://www.twitter.com"
          class="footer__link link"
          target="_blank"
        >
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="footer__item">
        <a
          href="https://www.instagram.com"
          class="footer__link link"
          target="_blank"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__copyright">
    <p>© 2024 Safari Tales. All rights reserved.</p>
  </div>
</footer>
