<footer class="footer">
  <div class="footer__links">
    <ul class="footer__list">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
    </ul>
    <div class="footer__social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-x-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  <div class="footer__copyright">
    <p>© 2024 Safari Tales. All rights reserved.</p>
  </div>
</footer>
