.footer {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1.8rem;

  &__list {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2.4rem;
  }

  &__copyright {
    font-size: 1.4rem;
    text-align: center;
  }

  &__social &__link {
    font-size: 2.2rem;
    border-bottom: none;
  }
}
