<section class="info-contacts">
  <div class="info-contacts__background">
    <div class="info-contacts__content">
      <h2 class="info-contacts__h2">Explore the Wild, Cherish the Moment</h2>
      <div class="info-contacts__info">
        <div class="info-contacts__left">
          <p class="info-contacts__p">
            Embark on a journey with Safari Tales, where every safari is a
            bridge between the untouched wilderness and the spirit of adventure
            in your heart.
          </p>
          <p class="info-contacts__p">
            Established in 2008, we're dedicated to crafting unforgettable
            safari experiences that not only thrill but also respect and
            contribute to conservation efforts.
          </p>
          <p class="info-contacts__p">
            Our vision is to connect you with nature's magnificent wonders,
            creating moments that last a lifetime, all while ensuring a positive
            impact on the ecosystems we explore.
          </p>
        </div>
        <div class="info-contacts__right">
          <p class="info-contacts__p">
            For inquiries and bookings, reach out to us at:
          </p>
          <ul class="info-contacts__list">
            <li class="info-contacts__item">
              Email: safari-tales&#64;gmail.com
            </li>
            <li class="info-contacts__item">Phone: +123 456 7890</li>
            <li class="info-contacts__item">
              Address: 123 Safari Road, Wilderness, Tanzania
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
