@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  /* Colors */

  --color-primary: #ffbf00;
  --color-primary-darker: #c77c02;

  --color-secondary: #262d38;

  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #d3d3d3;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  /* Font Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi: 600;
  --fw-bold: 700;

  /* Shadow */
  --box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
  --box-shadow-dark: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: var(--fw-regular);
  background-color: var(--color-grey-light-1);
}
