@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  /* Colors */

  --color-primary: #ffbf00;
  --color-primary-darker: #c77c02;

  --color-secondary: #262d38;
  --color-secondary-darker: #1a1e25;

  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #d3d3d3;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  /* Added later, thats why it is 4 - in order to not change most of the css files */
  --color-grey-dark-4: #555;

  /* Font Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi: 600;
  --fw-bold: 700;

  /* Shadow */
  --box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
  --box-shadow-dark: 3px 6px 10px rgba(0, 0, 0, 0.38);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: var(--fw-regular);
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-1);
}

.main {
  max-width: 90%;
  margin: 0 auto;
}

.heading-primary,
.heading-secondary {
  font-weight: var(--fw-bold);
  letter-spacing: 0.5px;
}

.heading-primary {
  color: var(--color-grey-light-2);
  font-size: 2.4rem;
  line-height: 1.6;
}

.heading-secondary {
  font-size: 3.6rem;
  color: var(--color-grey-dark-1);
}

.subheading {
  font-size: 1.8rem;
  font-weight: var(--fw-semi);
  color: var(--color-grey-light-2);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  font-size: 2rem;
  font-weight: var(--fw-bold);
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  position: relative;

  color: var(--color-primary);
  background-color: var(--color-secondary-darker);
  border: 1px solid var(--color-primary);
  cursor: pointer;

  transition: all 0.4s;
}

ul {
  text-decoration: none;
}

.link:link,
.link:visited {
  color: var(--color-grey-dark-1);
  font-weight: var(--fw-semi);
  text-decoration: none;
  transition: all 0.3s;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.link:hover,
.link:active {
  color: var(--color-primary-darker);
  border-bottom: 1px solid var(--color-grey-dark-1);
}
