@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  /* Colors */
  --light-grey: #ecebeb;
  --dark-red: #a50a08;
  --btn-orange: #e48901;

  /* Font Weight */

  /* Shadow */
  --box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: var(--light-grey);
}
