<section class="top-rated">
  <h2 class="heading-secondary">Top Rated Safaris</h2>
  <div class="table">
    <aside class="table__safaris">
      <ul class="table__list">
        @for (safari of safariList; track $index) {
        <li
          class="table__item table__item--active"
          [class.table__item--active]="$index === activeSafariIndex"
          (click)="setActiveSafari($index)"
        >
          <p>#{{ $index + 1 }}</p>
          <a class="link">{{ safariTag(safari.safariTitle) }}</a>
        </li>
        }
      </ul>
    </aside>

    @if (activeSafariIndex !== null) {
    <div class="table__container">
      <div class="table__top">
        <a
          routerLink="/safari/{{ safariList[activeSafariIndex]._id }}"
          class="table__destination"
          >{{ safariList[activeSafariIndex].safariTitle }}</a
        >
        <div class="table__rating">
          <p>
            <span class="table__rating--span">{{
              safariList[activeSafariIndex].rating
            }}</span>
            / 5
            <i class="fa-solid fa-star"></i>
          </p>
          <a href="#" class="table__reviews">10 reviews</a>
        </div>
      </div>
      <p class="table__out-of">
        #{{ activeSafariIndex + 1 }} of 5 best reviewed safaris
      </p>
      <p class="table__country-info">
        {{ safariList[activeSafariIndex].days[0].descriptions[0] }}
      </p>
      <div class="table__bottom">
        <div>
          <i class="fa-solid fa-sack-dollar"></i>
          <div class="table__pricing">
            <p>Rates (USD)</p>
            <p>
              ${{ safariList[activeSafariIndex].rates.twoPeopleOneRoom }} to ${{
                safariList[activeSafariIndex].rates.sixPeopleThreeRooms
              }}
              pp/day
            </p>
          </div>
        </div>
        <div>
          <i class="fa-regular fa-calendar-check"></i>
          <div class="table__best-time">
            <p>Best Time to Go</p>
            <p>June to October; January to February for wildebeest calving.</p>
          </div>
        </div>
        <div>
          <i class="fas fa-paw"></i>
          <div class="table__season">
            <p>High Season</p>
            <p>
              July to March (Northern circuit parks; all get crowded), June to
              October (Southern and Western circuit parks; only Nyerere gets
              crowded)
            </p>
          </div>
        </div>
      </div>
      <a
        routerLink="/safari/{{ safariList[activeSafariIndex]._id }}"
        class="table__button"
        >Click for more information <i class="fa-solid fa-angles-right"></i
      ></a>
    </div>
    }
  </div>
</section>
