<section class="register">
  <div class="register__background"></div>
  <form class="form">
    <div class="form__group">
      <input
        type="email"
        class="form__input"
        placeholder="Email address"
        id="email"
        required
      />
      <label for="email" class="form__label">Email address</label>
    </div>
    <div class="form__group">
      <input
        type="text"
        class="form__input"
        placeholder="Password"
        id="password"
        required
      />
      <label for="password" class="form__label">Password</label>
    </div>
    <div class="form__group">
      <input
        type="text"
        class="form__input"
        placeholder="Repeat Password"
        id="rePassword"
        required
      />
      <label for="rePassword" class="form__label">Repeat Password</label>
    </div>
    <div class="form__group">
      <button class="form__btn">
        Register <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
    <div class="form__no-account">
      Already have an account ? <a href="#" class="link">Login here</a>
    </div>
  </form>
</section>
