<section class="safariForm">
  <form [formGroup]="safariForm" (ngSubmit)="onSubmit()">
    <div class="safariForm__top--container">
      <div>
        <h4 class="safariForm__subheader">Safari Information :</h4>
        <div class="form__group">
          <label for="safariTitle" class="form__label">Safari Title :</label>
          <input
            type="text"
            class="form__input"
            placeholder="Name of the safari tour"
            id="safariTitle"
            required
            formControlName="safariTitle"
          />
        </div>

        <div class="form__group" formGroupName="period">
          <label for="periodFrom" class="form__label"
            >Active Price From :</label
          >
          <input
            type="date"
            class="form__input"
            id="periodFrom"
            required
            formControlName="from"
          />
        </div>

        <div class="form__group" formGroupName="period">
          <label for="periodTo" class="form__label">Active Price To :</label>
          <input
            type="date"
            class="form__input"
            id="periodTo"
            required
            formControlName="to"
          />
        </div>
      </div>

      <div>
        <div formGroupName="rates" class="safariForm__pricing--helper">
          <h4 class="safariForm__subheader">Pricing Information :</h4>
          <div class="form__group">
            <label for="twoPeopleOneRoom" class="form__label"
              >Two People - One Room :</label
            >
            <input
              type="text"
              class="form__input"
              placeholder="e.g. $120"
              id="twoPeopleOneRoom"
              required
              formControlName="twoPeopleOneRoom"
            />
            <div class="error-div">
              <app-errors
                [control]="safariForm.get(['rates', 'twoPeopleOneRoom'])"
              ></app-errors>
            </div>
          </div>

          <div class="form__group">
            <label for="threePeopleTwoRooms" class="form__label"
              >Three People - Two Rooms :</label
            >
            <input
              type="text"
              class="form__input"
              placeholder="e.g. $120"
              id="threePeopleTwoRooms"
              required
              formControlName="threePeopleTwoRooms"
            />
          </div>

          <div class="form__group">
            <label for="fourPeopleTwoRooms" class="form__label"
              >Four People - Two Rooms :</label
            >
            <input
              type="text"
              class="form__input"
              placeholder="e.g. $120"
              id="fourPeopleTwoRooms"
              required
              formControlName="fourPeopleTwoRooms"
            />
          </div>

          <div class="form__group">
            <label for="fivePeopleThreeRooms" class="form__label"
              >Five People - Three Rooms :</label
            >
            <input
              type="text"
              class="form__input"
              placeholder="e.g. $120"
              id="fivePeopleThreeRooms"
              required
              formControlName="fivePeopleThreeRooms"
            />
          </div>

          <div class="form__group">
            <label for="sixPeopleThreeRooms" class="form__label"
              >Six People - Three Rooms :</label
            >
            <input
              type="text"
              class="form__input"
              placeholder="e.g. $120"
              id="sixPeopleThreeRooms"
              required
              formControlName="sixPeopleThreeRooms"
            />
          </div>
        </div>
      </div>
      <div class="form__group">
        <input
          type="file"
          class="form__input safariForm__upload--input"
          id="imageUrl"
          required
          formControlName="safariImage"
          (change)="onImagePreview({ event: $event, type: 'headerImage' })"
        />
        <label for="imageUrl" class="form__label safariForm__upload--label"
          >Safari Header Image</label
        >

        <div>
          <img [src]="headerSafariImage" class="safariForm__img--preview" />
        </div>
      </div>
    </div>

    <div class="safariForm__bottom--container" formArrayName="days">
      <h4 class="safariForm__subheader">Day Information :</h4>
      <div *ngFor="let day of days.controls; let i = index" [formGroupName]="i">
        <div class="day-grid" @carouselAnimation>
          <div class="form__group">
            <label class="form__label form__label--margin"
              >Day {{ i + 1 }}</label
            >
          </div>
          <div class="border">
            <i
              *ngIf="i === currentDay"
              @arrowAnimation
              class="fa-solid fa-angles-right day__icon"
            ></i>
            <div class="form__group">
              <label for="dayTitle-{{ i }}" class="form__label"
                >Day Title :
              </label>
              <input
                type="text"
                class="form__input"
                placeholder="e.g. Arrival, Departure, Hunt ..."
                id="dayTitle-{{ i }}"
                required
                formControlName="dayTitle"
              />
            </div>
            <div formArrayName="descriptions">
              <div
                *ngFor="
                  let descriptionControl of getDescriptions(i).controls;
                  let j = index
                "
              >
                <div class="form-group">
                  <label for="description-{{ i }}-{{ j }}" class="form__label"
                    >Description {{ j + 1 }}:</label
                  >
                  <input
                    id="description-{{ i }}-{{ j }}"
                    type="text"
                    class="form__input"
                    placeholder="Description {{ j + 1 }}"
                    [formControlName]="j"
                  />
                </div>
              </div>
            </div>
            <div class="form__group">
              <label for="mainDestination-{{ i }}" class="form__label"
                >Main Destination :</label
              >
              <input
                type="text"
                class="form__input"
                placeholder="City, Campsite, Park ..."
                id="mainDestination-{{ i }}"
                required
                formControlName="mainDestination"
              />
            </div>
          </div>
          <div>
            <div>
              <div class="form__group">
                <label for="accommodationName-{{ i }}" class="form__label"
                  >Hotel Name :</label
                >
                <input
                  type="text"
                  class="form__input"
                  id="accommodationName-{{ i }}"
                  formControlName="hotelName"
                  placeholder="e.g. Ngorongoro Lodge"
                />
              </div>
              <div class="form__group">
                <label for="accommodationType-{{ i }}" class="form__label"
                  >Hotel Type :</label
                >
                <input
                  type="text"
                  class="form__input"
                  id="accommodationType-{{ i }}"
                  formControlName="hotelType"
                  placeholder="Luxury lodge"
                />
              </div>

              <div class="form__group">
                <label for="accommodationLocation-{{ i }}" class="form__label"
                  >Hotel Location :</label
                >
                <input
                  type="text"
                  class="form__input"
                  id="accommodationLocation-{{ i }}"
                  formControlName="hotelLocation"
                  placeholder="crater rim of Ngorongoro Crater"
                />
              </div>
              <div class="form__group">
                <label for="accommodationLink-{{ i }}" class="form__label"
                  >Hotel Link :</label
                >
                <input
                  type="text"
                  class="form__input"
                  id="accommodationLink-{{ i }}"
                  formControlName="hotelLink"
                  placeholder="https://www.serenahotels.com/ngorongoro"
                />
              </div>
            </div>
            <div>
              <div class="form__group">
                <label for="includedMeals-{{ i }}" class="form__label"
                  >Included Meals :</label
                >
                <input
                  type="text"
                  class="form__input"
                  id="includedMeals-{{ i }}"
                  formControlName="includedMeals"
                  placeholder="All meals included"
                />
              </div>
              <div class="form__group">
                <label for="drinksIncluded-{{ i }}" class="form__label"
                  >Included Drinks :</label
                >
                <input
                  type="text"
                  class="form__input"
                  id="drinksIncluded-{{ i }}"
                  formControlName="includedDrinks"
                  placeholder="Drinking water & beer and wine"
                />
              </div>
            </div>
          </div>
          <div>
            <div class="form__group">
              <input
                type="file"
                class="form__input safariForm__upload--input safariForm__upload--inputDay"
                id="dayImage-{{ i }}"
                required
                formControlName="dayImage"
                (change)="
                  onImagePreview({
                    event: $event,
                    type: 'dayImage',
                    dayId: i
                  })
                "
              />
              <label
                for="dayImage-{{ i }}"
                class="form__label safariForm__upload--label safariForm__upload--labelDay"
                >Day {{ i + 1 }} Header Image</label
              >
              <div>
                @if (daySafariImages[i]) {
                <img
                  [src]="daySafariImages[i]"
                  class="safariForm__img--preview"
                />} @else {
                <img
                  src="../../../assets/safari/imagePreview.jpg"
                  class="safariForm__img--preview"
                />
                }
              </div>
            </div>
            <button
              type="button"
              class="day-grid__btn day-grid__btn--remove"
              (click)="removeDay(i)"
            >
              Remove Day {{ i + 1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="buttons">
      <button type="button" class="day-grid__btn" (click)="addDay()">
        Add Another Day
      </button>
      <button type="submit" class="submit__btn btn">
        Submit <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
  </form>
</section>
